.selected{
    background-color: #CFD8DC !important;
    color: white;
}
.aplis{
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
}
.aplis li{
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding:    .3em 0;
    height: 1.7em;
    border-radius: 4px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.aplis li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
}
.aplis li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
}
.aplis.text {
    position: relative;
    top: -3px;
}
.insignia {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
}

h1{
    background-color: rgb(15, 15, 15);
    height: 70px;
    margin-top: auto;      
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 20px;
    text-justify: inherit;
    color: rgb(253, 253, 252);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
}